/*
    TABLE OF CONTENTS:
    1. PAGE CONTAINER / GENERAL STYLES
    2. HEADER
    3. CONTENT WRAPPER
    4. GENERAL INFO
    5. SHORT TAKEAWAY INFO
    6. PICTURE SHOWCASE
    7. CONTACT FORM
    8. FOOTER

*/





/* 1. PAGE CONTAINER / GENERAL STYLES
---------------------------------
---------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#container-page {
    display: flex;
    flex-direction: column;
}




/* 2. HEADER
---------------------------------
---------------------------------*/

header {
    background-color: #F6F9F9;
    display: flex;
}

header img {
    align-self: center;
    padding: 25px 100px;
}




/* 3. CONTENT WRAPPER
---------------------------------
---------------------------------*/

#wrapper-content {
    height: 800px;
    width: auto;
    
    display: flex;
    justify-content: center;

    text-align: center;

    background-image: url("../images/bg1.png");
    background-color: #575d6d;
    background-repeat: no-repeat;
    background-size: auto;
}

#container-content {
    width: 750px;
    text-align: center;
}

#container-content h1 {
    color: white;
    font-size: 110px;
    font-weight: 600;
    line-height: 150px;
    padding-top: 180px;
    border-bottom: 1px solid #15A4FA;
}

#container-content h4 {
    padding: 30px;
    color: white;
    font-size: 19px;
    font-weight: 300;
}

#container-content #link-content {
    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 32px;
    padding: 10px 16px;

    border-top: 1px solid #15A4FA;
    border-left: 1px solid #15A4FA;
    border-bottom: transparent;
    border-right: transparent;
    border-radius: 2px;
}

#container-content #link-content:hover {
    cursor: pointer;
}

#container-content #link-content:active {
    border: 1px solid #15A4FA;
}

.fa-chevron-down {
    color: white;
    margin: 105px;
    flex-basis: 40px;
}




/* 4. GENERAL INFO
---------------------------------
---------------------------------*/

#info {
    height: 300px;
    background-color: #F6F9F9;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#info h3 {
    color: #2D3950;
    font-size: 38px;
    font-weight: 300;
    padding-top: 90px;
}

#info p {
    padding: 20px 290px 40px;
    line-height: 34px;
    color: #9999A5;
    font-size: 14px;
}




/* 5. SHORT TAKEAWAY INFO
---------------------------------
---------------------------------*/

/* id container for whole div */
#takeaways {
    height: 400px;
    background-color: white;
    text-align: center;

    display: flex;
    justify-content: center;
}

/* class container for each chunk of info */
.container-info {
    padding: 90px 0px 110px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-basis: 23%;
    
}

/* symbol wrapper */
.wrapper-info-fa {
    width: 100px;
    height: 100px;
    margin-left: 120px;
    margin-bottom: 20px;
    background-image: linear-gradient(90deg, #1E5799 0%, #207BC8 50%, #2C8BD8 50%, #79B7E7 100%);
}

/* symbol */
.wrapper-info-fa .fas {
    color: white;
    padding: 25px;
}

/* local h4 */
.container-info h4 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* local p */
.container-info p {
    color: #9999A5;
    padding: 0px 10px;
}




/* 6. PICTURE SHOWCASE
---------------------------------
---------------------------------*/

#pic-showcase {
    height: 860px;
    background-color: #F6F9F9;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pic-showcase h2 {
    color: #2D3950;
    font-size: 38px;
    margin-top: 0px;
    text-align: center;
}

#pic-showcase p {
    color: #9999A5;
    font-size: 14px;
    text-align: center;
}

/* container for pictures in #showcase div */
#container-showcase-pic {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
}

#container-showcase-pic a {
    margin-top: 5%;
}




/* 7. CONTACT FORM STYLES
---------------------------------
---------------------------------*/

#wrapper-form {
    height: 700px;
    background-image: url("../images/bg2.png");
    background-color: #2a364b;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

#container-form {
    width: 410px;

    display: flex;
    flex-direction: column;
    align-self: center;
}

/* header */
#container-form h2 {text-align: center;

    color: white;
    font-size: 38px;
    font-weight: 400;
    margin-top: 130px;
    padding-bottom: 20px;
}

/* paragraph */
#container-form p {
    text-align: center;
    padding-bottom: 15px;
    color: #939899;
    font-size: 14px;
}

.form-input {
    margin: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid white;
    background-color: transparent;
    color: #75756F;
    font-size: 15px;
    border-radius: 2px;
}

#wrapper-checkbox {
    display: inline-block;
    padding: 40px 60px;
}

/* styles div for submit button */
#wrapper-submit {
    display: inline-block;
    border: 1px solid #15A4FA;
    height: 35px;
    width: 80px;
    border-radius: 2px;
}

/* styles submit button */
#wrapper-submit button {
    background-color: transparent;
    color: white;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}




/* 8. FOOTER STYLES
---------------------------------
---------------------------------*/

footer {
    height: 70px;
    background-color: #F6F9F9;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

footer p {
    display: flex;
    align-self: center;
    font-size: 15px;
    padding-left: 120px;
}

footer #social-media-sym {
    display: flex;
    align-self: center;

    padding-top: 10px;
    padding-right: 90px;
}

footer .fab {
    color: white;
    background-color: #15A4FA;
    margin-left: 10px;
    padding: 10px;
    border-radius: 2px;
}